


<ul>
  <li>Country: @Model.GetCountry()</li>
  <ul>
    <li>City: @Model.GetCity()</li>
    <li><img src="@Model.GetImage()" alt="vacation spot"></li>
    <li>Date visited: @Model.GetDates()</li>
    <li>Description of your vacation: @Model.GetDescription()</li>
  </ul>
</ul>

<p><a href="/form/new">Add another place visited</a></p>
